<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <h2>User Login</h2>
        <!-- <p>Please enter your credentials to login.</p> !-->
         @if (error != '') {
          <div class="alert alert-danger" role="alert">
            {{ error }}
          </div>
         }
        <form (submit)="userLogin()">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Username</label>
              <input (keyup)="userNameControl()" [(ngModel)]="username" name="username" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input [(ngModel)]="password" name="password" type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            <a [routerLink]="['/register']" routerLinkActive="router-link-active" class="btn btn-link">Register</a>

          </form>
    </div>
    <div class="col-sm-4"></div>
</div>


